{% extends '../base-log.html' %}

{% block title %}JMDI - Sign in{% endblock %}

{% block content-log %}

    <div id="central_log">
        <div id="behind_log">

            {% if next %}
                <form action="/?next=/dashboard/" method="post">
            {% else %}
                <form action="/" method="post">
            {% endif %}
            {% csrf_token %}
            {{ form }}
            <p>
                <button type="submit" id="bt-login" class="btn btn-primary">Zaloguj</button>
            </p>
            </form>
        </div>
    </div>
{% endblock %}