<div style="margin-top: 50px;">
    <button type="submit" onclick="window.open('/raporty/instalacje/', '_self');" value="Raport instalacji"
            class="btn btn-primary button-detail button_form_dom">Raport instalacji
    </button>
    <button type="submit" onclick="window.open('/raporty/ulotki/', '_self');" value="Raport ulotek"
            class="btn btn-primary button-detail button_form_dom">Raport ulotek
    </button>
    <button type="submit" onclick="window.open('/raporty/leady/', '_self');" value="Raport leadów"
            class="btn btn-primary button-detail button_form_dom">Raport leadów
    </button>
    <button type="submit" onclick="window.open('/raporty/konkurencja/', '_self');" value="Raport konkurencji"
            class="btn btn-primary button-detail button_form_dom">Raport konkurencji
    </button>
    <button type="submit" onclick="window.open('/raporty/brak-ulotek/', '_self');" value="Raport brak ulotek"
            class="btn btn-primary button-detail button_form_dom">Raport braku ulotek
    </button>
    <button type="submit" onclick="window.open('/dashboard/', '_self');"
            value="Powrót" class="btn btn-dark button-detail button_form_dom" readonly="readonly">Powrót
    </button>
</div>