{% extends "base_raporty.html" %}


{% block head %}
    {% load static %}
    {% block title %}JMDI - Panel raportów{% endblock %}
    <meta charset="utf-8" xmlns="http://www.w3.org/1999/html">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/css/bootstrap.css">
    <link rel="stylesheet" href="//cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css">
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
{% endblock %}

{% block login-div %}
    <table>
        <tr>
            <th>
                <a class="btn btn-outline-primary btn-sm" href="{% url 'dashboard:dashboard' %}" role="button"
                   style="margin-right: 15px;">Dashboard</a>
            </th>
            <th></th>
            <th>Zalogowano <br> {{ user.username }}!
                <p><a href="{% url 'logout' %}">wyloguj</a></p></th>
        </tr>
    </table>

{% endblock %}

{% block content3 %}
    <div class="select-style8 shadow-sm" style="border: solid 1px #e8d6d5;">

        <h3 class="h3_form_tittle"
            style="font-weight: bold; font-family: Muli; margin-top: 0px; margin-bottom: 0px; text-align: center;">
            Raporty</h3>


        <hr style="width: 85%; margin-bottom: 30px;">
        <div style="margin-top: 50px;">
            <button type="submit" onclick="window.open('/raporty/instalacje/', '_self');" value="Raport instalacji"
                    class="btn btn-primary button-detail button_form_dom">Raport instalacji
            </button>
            <button type="submit" onclick="window.open('/raporty/ulotki/', '_self');" value="Raport ulotek"
                    class="btn btn-primary button-detail button_form_dom">Raport ulotek
            </button>
            <button type="submit" onclick="window.open('/raporty/leady/', '_self');" value="Raport leadów"
                    class="btn btn-primary button-detail button_form_dom">Raport leadów
            </button>

            {#            <input type="submit" onclick="window.open('/edit_app/dodaj-probe-kontaktu/', '_self');"#}
            {#                   value="Formularz próby kontaktu"#}
            {#                   class="btn btn-danger button-detail button_form_dom">#}
            {##}
            {#            <input type="submit" onclick="window.open('/edit_app/rejestracja-zaulotkowania/', '_self');"#}
            {#                   value="Formularz zaulotkowania"#}
            {#                   class="btn btn-warning button-detail button_form_dom">#}

            <button type="submit" onclick="window.open('/dashboard/', '_self');"
                    value="Powrót" class="btn btn-dark button-detail button_form_dom" readonly="readonly">Powrót
            </button>
        </div>

    </div>

{% endblock %}

{% block content4 %}
    <div class="select-style8-1 shadow-sm" style="border: solid 1px #e8d6d5;">
        <h3 class="h3_form_tittle"
            style="font-weight: bold; font-family: Muli; margin-top: 0px; margin-bottom: 0px; text-align: center;">
        </h3>
        </font>
    </div>

{% endblock %}


