{% extends "base_raporty.html" %}


{% block head %}
    {% block title %}JMDI - Panel raportów{% endblock %}
    {% load static %}
    <meta charset="utf-8" xmlns="http://www.w3.org/1999/html">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/css/bootstrap.css">
    <link rel="stylesheet" href="//cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css">
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
{% endblock %}

{% block login-div %}
    <table>
        <tr>
            <th>
                <a class="btn btn-outline-primary btn-sm" href="{% url 'dashboard:dashboard' %}" role="button"
                   style="margin-right: 15px;">Dashboard</a>
            </th>
            <th></th>
            <th>Zalogowano <br> {{ user.username }}!
                <p><a href="{% url 'logout' %}">wyloguj</a></p></th>
        </tr>
    </table>

{% endblock %}

{% block content3 %}
    <div class="select-style8 shadow-sm" style="border: solid 1px #e8d6d5;">

        <h3 class="h3_form_tittle"
            style="font-weight: bold; font-family: Muli; margin-top: 0px; margin-bottom: 0px; text-align: center;">
            Raporty</h3>


        <hr style="width: 85%; margin-bottom: 30px;">

        {% include 'raporty/raporty-linki.html' %}+

    </div>

    <div class="select-style8 shadow-sm" style="border: solid 1px #e8d6d5; margin-top: 10px;">

        <h3 class="h3_form_tittle"
            style="font-weight: bold; font-family: Muli; margin-top: 0px; margin-bottom: 0px; text-align: center;">
            Filtr daty</h3>


        <hr style="width: 85%; margin-bottom: 30px;">
        <div style="margin-top: 50px;">
            <form method="post" novalidate>
                {% csrf_token %}

                <font class="p_damage_succes">

                    <table id="table_search">
                        <tr>
                            <td class="td_form_search"> {{ form.year.label }}: <br>{{ form.year }} </td>
                        </tr>
                        <tr>
                            <td class="td_form_search"> {{ form.month.label }}: <br>{{ form.month }} </td>
                        </tr>
                        <tr>

                            <td>
                                <button id="button_search" type="submit" value="Filtruj"
                                        class="btn btn-primary button_form2"
                                        readonly="readonly">Filtruj
                                </button>
                            </td>
                        </tr>
                    </table>
                </font>
            </form>
        </div>

    </div>

{% endblock %}

{% block content4 %}
    <div class="select-style8-1 shadow-sm" style="border: solid 1px #e8d6d5;">
        <h3 class="h3_form_tittle"
            style="font-weight: bold; font-family: Muli; margin-top: 0px; margin-bottom: 0px; text-align: center;">
            Raport z braków konkurencji</h3>
        </font>
        <hr style="width: 85%; margin-bottom: 30px;">

        {% include 'raporty/table-raport-konkurencja.html' %}
    </div>

{% endblock %}