<table id="table_fleet" class="table table-hover table-bordered table-sm">
    <thead>
    <tr>
        <th>ID</th>
        <th>Ulica</th>
        <th>Nazwa gminy</th>
        <th>Miejscowość</th>
        <th>Ilość</th>
        <th>Opis</th>
        <th>Data</th>
        <th>Przedstawiciel</th>
        <th style="visibility: hidden"></th>
        <th style="visibility: hidden"></th>
    </tr>
    </thead>

    <tfoot>
    <tr>
        <th style="visibility: hidden">ID</th>
        <th>Ulica</th>
        <th>Nazwa gminy</th>
        <th>Miejscowość</th>
        <th style="visibility: hidden">Ilość</th>
        <th style="visibility: hidden">Opis</th>
        <th>Data</th>
        <th>Przedstawiciel</th>
        <th style="visibility: hidden"></th>
        <th style="visibility: hidden"></th>
    </tr>
    </tfoot>

    {% for field in ulotki %}
        <tr>
            <td>{{ field.id }}</td>
            <td>{{ field.id_adr_dom }}</td>
            <td>{{ field.id_adr_dom.nazwa_gminy }}</td>
            <td>{{ field.id_adr_dom.miejscowosc }}</td>
            <td>{{ field.ilosc }}</td>
            <td>{{ field.opis }}</td>
            <td>{{ field.uploaded_at|date:'Y-m-d' }}</td>
            <td>{{ field.uzytkownik }}</td>
            <td style="width: 5px; border: none">
                <button onclick="return zdjecia()" class="btn btn-secondary btn-sm" type="submit" value="zdjecia"
                        style="font-size: 9.5pt;">Zdjęcia
                </button>
            </td>
            <td style="width: 5px; border: none">
                <button onclick="return budynek()" class="btn btn-secondary btn-sm" type="submit" value="budynek"
                        style="font-size: 9.5pt;">Karta budynku
                </button>
            </td>

        </tr>

    {% endfor %}
</table>


<script src="//code.jquery.com/jquery-3.3.1.js"></script>
<script src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
<script src="//cdn.datatables.net/1.10.16/js/dataTables.bootstrap4.min.js"></script>
<script type="text/javascript" language="javascript" class="init">

    $(document).ready(function () {
        $('#table_fleet').DataTable({
                "pageLength": 10,
                "processing": true,
                "order": [[0, "desc"]],

                "infoCallback":
                    function (settings, start, end, max, total, pre) {
                        return "Rekord " + start + " do " + end + " z " + total + " wszystkich"
                            + ((total !== max) ? " (filtered from " + max + " total entries)" : "") + '<font style="color: black; font-size: 11pt;"><br>' + '  ' + '<br>Ulotek: ' + parseInt(Total_HP) + '</font>';
                    },

                "footerCallback": function (row, data, start, end, display) {
                    var api = this.api(), data;

                    // Remove the formatting to get integer data for summation
                    var intVal = function (i) {
                        return typeof i === 'string' ?
                            i.replace(/[\$,]/g, '') * 1 :
                            typeof i === 'number' ?
                                i : 0;
                    };

                    // Total over all pages

                    // Total over this page
                    Total_HP = api
                        .column(3, {filter: 'applied'})
                        .data()
                        .reduce(function (a, b) {
                            {
                                return intVal(a) + intVal(b);
                            }
                        }, 0);
                },

                initComplete: function () {
                    this.api().columns().every(function () {
                        var column = this;
                        var select = $('<select><option value=""></option></select>')
                            .appendTo($(column.footer()).empty())
                            .on('change', function () {
                                var val = $.fn.dataTable.util.escapeRegex(
                                    $(this).val()
                                );

                                column
                                    .search(val ? '^' + val + '$' : '', true, false)
                                    .draw();
                            });

                        column.data().unique().sort().each(function (d, j) {
                            select.append('<option value="' + d + '">' + d + '</option>')
                        });
                    });
                }
            },
        );
    });

    $(document).ready(function () {
        // Setup - add a text input to each footer cell
        $('#table_fleet thead th').each(function () {

            var title = $(this).text();
            $(this).html('<input type="text" style="text-align: center;" placeholder="' + title + '" />');

        });

        // DataTable
        var table = $('#table_fleet').DataTable();

        // Apply the search
        table.columns().every(function () {
            var that = this;

            $('input', this.header()).on('keyup change clear', function () {
                if (that.search() !== this.value) {
                    that
                        .search(this.value)
                        .draw();
                }
            });
        });
    });

    function zdjecia(url) {
        var getIdFromRow = $(event.target).closest('tr').find('td:first').html();
        newwindow = window.open('/raporty/zdjecie-ulotek-redirect/' + getIdFromRow, '_blank')
    }

    function budynek(url) {
        var getIdFromRow = $(event.target).closest('tr').find('td:first').html();

        newwindow = window.open('/edit_app/edit_dom_redirect_ulotki/' + getIdFromRow, '_blank',)
    }

</script>



