.h2_detail {
    font-size: 24pt;
}

.h3_detail {
    font-size: 18pt;
    margin-left: 100px;
}

.h3_adr {
    font-size: 18pt;
    margin-left: -25px;
}

.h3_change {
    font-size: 18pt;
    margin-left: 25px;
    margin-bottom: 25px;
}

.head_font_detal {
    font-size: 14pt;
    color: dimgray;
}

.equipment_table_detal td {
    float: left;
    margin-right: 25px;
}

.adr_table_detal td {
    float: left;
    margin-left: 0px;
    margin-right: 0px;
}

.skrzyn_dodatkowa_detal td {
    float: left;
    margin-left: 0px;
    margin-right: 0px;
}

#button_zamknij_detal {
    font-size: 12pt;
    font-weight: 700;
    padding: 4px;
}

.button-detail {
    font-size: 8.5pt;
    margin-left: 5px;
}

#detail_buttons {
    padding: 25px;
}


#accesories_div {
    width: 50%;
    float: left;
    height: 160px;
    margin-right: 25%;
    margin-bottom: 20px;
}

#toolbox_div {
    margin-left: 120px;
    margin-top: 25px;
    margin-right: 3%;
    margin-bottom: 135px;
    float: left;
    height: 100px;
}

.detail_semi_head_div {
    float: left;
    margin-left: 50px;
    margin-right: 100%;
    margin-top: 25px;
    margin-bottom: 25px;
    width: 500px;
}

.detail_semi_change_div {
    float: left;
    margin-left: 50px;
    margin-right: 100%;
    margin-bottom: 25px;
    width: 700px;
}

.detail_car_head_div {
    float: left;
    margin-left: 50px;
    margin-right: 100%;
    margin-bottom: 25px;
    width: 500px;
}

.detail_semi_equipment_div {
    float: left;
    margin-left: 125px;
    margin-right: 100%;
    width: 700px;
}

.equipment_detal {
    color: #565b57;
    font-size: 10.5pt;
    font-style: italic;
}

.no_equipment_detal {
    color: #565b57;
    font-size: 13pt;
    font-style: italic;
}

.damage_detal {
    color: #565b57;
    font-size: 14pt;
    font-style: italic;
}

.true, .false {
    color: black;
    font-size: 11pt;
    margin-right: 5px;
}

.no_equipment_div {
    margin-left: 100px;
    margin-top: 50px;
    margin-bottom: 25px;
    float: left;
    height: auto;
}

.photos_div {
    margin-left: 100px;
    margin-top: 10px;
    margin-bottom: 50px;
    float: left;
    height: auto;
    width: 1200px;
}

#adr1_div {
    margin-left: 120px;
    margin-top: 25px;
    margin-bottom: 125px;
    float: left;
    height: 100px;
}

#adr2_div {
    margin-top: 25px;
    margin-right: 3%;
    margin-bottom: 125px;
    float: left;
    height: 100px;
}

#skrzynia_div {
    margin-left: 120px;
    margin-top: 25px;
    margin-right: 3%;
    margin-bottom: 125px;
    float: left;
    height: 100px;
}