#bt-login {
    width: 200px;
    background-color: #1C84C7;
    float: right;
    margin-top: 20px;
}

#behind_log {
    width: 400px;
    margin-top: 100px;
}

#central_log {
    width: 25%;
    float:left;
}

#bt-login:hover {
    background-color: #3E9DDB;
}

label[for=id_username], label[for=id_password] {
    width: 100%;
    margin-top: 10px;
    color: #777777;
    font-size: 12pt;
}

#id_username  {
    width: 400px;
    height: 50px;
    font-size: 14pt;
    margin-bottom: 50px;
}

#id_password {
    width: 400px;
    height: 50px;
    font-size: 14pt;
}


@media only screen and (max-width: 1000px) {
    #central_log {
        width: 100%;
    }

    #id_username, #id_password {
        font-size: 26pt;
    }

    label[for=id_username], label[for=id_password] {
        font-size: 26pt;
    }
    #bt-login {
        width: 400px;
        font-size: 28pt;
        margin-top: 25px;
    }

    #behind_log {
        margin-top: 200px;
        width: 100%;
    }
}