{% extends "base_handlowiec.html" %}

{% load auth_extras %}

{% block head %}
    {% load static %}
    <meta charset="utf-8">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/css/bootstrap.css">
    <link rel="stylesheet" href="//cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css">
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
{% endblock %}

{% block content2 %}
    <form method="post" novalidate>
        {% csrf_token %}

        <font class="p_damage_succes">

            <table id="table_search">
                <tr>
                    <td class="td_form_search"> {{ form.handlowiec.label }}: <br>{{ form.handlowiec }} </td>
                    <td class="td_form_search"> {{ form.miejscowosc.label }}: <br>{{ form.miejscowosc }} </td>
                    <td class="td_form_search"> {{ form.predkosc_od.label }}: <br>{{ form.predkosc_od }}</td>
                    <td class="td_form_search"> {{ form.hp_od.label }}: <br>{{ form.hp_od }}</td>
                    <td class="td_form_search"> {{ form.wypelnienie_od.label }}: <br>{{ form.wypelnienie_od }}</td>
                    <td class="td_form_search"> {{ form.liczba_klientow_od.label }}: <br>{{ form.liczba_klientow_od }}
                    </td>
                    <td class="td_form_search"> {{ form.uruchomienie_od.label }}: <br>{{ form.uruchomienie_od }}</td>
                </tr>
                <tr>
                    <td class="td_form_search"> {{ form.ulica.label }}: <br>{{ form.ulica }} </td>
                    <td class="td_form_search"> {{ form.symbol.label }}: <br>{{ form.symbol }} </td>
                    <td class="td_form_search"> {{ form.predkosc_do.label }}: <br>{{ form.predkosc_do }} </td>
                    <td class="td_form_search"> {{ form.hp_do.label }}: <br>{{ form.hp_do }} </td>
                    <td class="td_form_search"> {{ form.wypelnienie_do.label }}: <br>{{ form.wypelnienie_do }} </td>
                    <td class="td_form_search"> {{ form.liczba_klientow_do.label }}: <br>{{ form.liczba_klientow_do }}
                    </td>
                    <td class="td_form_search"> {{ form.uruchomienie_do.label }}: <br>{{ form.uruchomienie_do }} </td>

                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>
                        <button id="button_search" type="submit" value="Wyszukaj" class="btn btn-primary button_form2"
                                readonly="readonly">Wyszukaj
                        </button>
                    </td>
                </tr>
            </table>
        </font>
    </form>


    {% if request.user|has_group:"Handlowcy" %}
        <script>
            document.getElementById('id_handlowiec').setAttribute('readonly', 'readonly');
            $(function () {
                $('#id_uruchomienie_od').datetimepicker();
            });
            $(function () {
                $('#id_uruchomienie_do').datetimepicker();
            });
        </script>

    {% endif %}
{% endblock %}
{% block table %}
    {% include "table-lokalizacje.html" %}
{% endblock %}


