{% extends "base-lokal.html" %}


{% block head %}
    {% load static %}
    <meta charset="utf-8" xmlns="http://www.w3.org/1999/html">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/css/bootstrap.css">
    <link rel="stylesheet" href="//cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css">
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
{% endblock %}


{% block content3 %}
    <div class="select-style9 shadow-sm" style="border: solid 1px #e8d6d5;">

        <h3 class="h3_form_tittle"
            style="font-weight: bold; font-family: Muli; margin-top: 0px; margin-bottom: 0px; text-align: center;">
            Dodanie informacji o kliencie</h3>


            <hr style="width: 85%; margin-bottom: 50px;">
            <font style="font-size: 11pt">
                <form action="" method="post">
                    {% csrf_token %}

                    {{ form_lokal }}

                <input id="button_akcept" type="submit" value="Zatwierdź"
                       class="btn btn-primary button-detail button_form">

                <input id="button_back" type=" mine" onclick="window.history.back()"
                       value="Anuluj" class="btn btn-dark button-detail button_form" readonly="readonly">
                </form>
    </div>


    <div style="width: 100%; height: 50px; float: left"></div>

{% endblock %}

<script>

    $('#DomForm').on('submit', function (event) {
        alert("Pomyślnie edytowano budynek.");
    });

</script>


