{% extends 'base-home.html' %}

{% block head %}
{% endblock %}



{% block before_content %}
    <div id="div_before_content">
        <div id="div_logo"><a id="taj_logo" class="navbar-brand" href="#"><img src="/static/img/logo_TAJ.jpg"
                                                                               alt="" style="width: 100%;"></a>
        </div>
        <div id="div_app_name"><h2 id="h2_app_name"></h2></div>

    </div>
    <hr id="home_hr" style="border-top: 1px solid #aaaaaa; margin-right: 10%; float: left">


{% endblock %}

{% block login-div %}
    <table>
        <tr>
            <th>
                <a id="dashboard" class="btn btn-outline-primary btn-sm" href="{% url 'dashboard:dashboard' %}"
                   role="button"
                   style="margin-right: 30px;">Dashboard</a>
            </th>
            <th></th>
            <th>Zalogowano <br> {{ user.username }}!
                <p id="logout_p"><a href="{% url 'logout' %}">wyloguj</a></p></th>
        </tr>
    </table>
{% endblock %}

{% block content3 %}
    <div class="select-style8 shadow-sm" style="border: solid 1px #e8d6d5; ">

        <h3 class="h3_form_tittle"
            style="font-weight: bold; font-family: Muli; margin-top: 15px; text-align: center;">
            ZMIANA HASŁA</h3>

        <hr style="width: 85%; margin-bottom: 70px;">


        <form action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form }}

            <input style="margin-top: 50px;" type="submit"
                      value="Zatwierdź" class="btn btn-primary button-detail button_form2">
            <input style="margin-top: 10px;" type="mine"
                      onclick="window.history.back();"
                      value="Powrót" class="btn btn-dark button-detail button_form2" readonly="readonly">
        </form>
    </div>
    <div style="width: 100%; height: 50px; float: left"></div>

{% endblock %}





