<p class="dashboard_p"><a href="{% url 'panel_lokalizacji:lokalizacje_list' %}">Panel lokalizacji</a></p>
<p class="dashboard_p"><a href="{% url 'panel_instalatora:panel_instalatora' %}">Panel instalatora</a></p>
<p class="dashboard_p"><a href="{% url 'raporty:raporty' %}">Panel raportów</a></p>
<p><a href="{% url 'panel_ulotek:base' %}">Panel ulotek</a></p>
{%  if user.username == 'mkulikowski' %}
<p class="dashboard_p"><a href="{% url 'edit_app:script' %}">Aktualizacja bazy (nie używać bez potrzeby)</a></p>
{% endif %}