{% load staticfiles %}
<!DOCTYPE html>
<html>


<head>
    <title>{% block title %}{% endblock %}</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link href="{% static "css/base.css" %}" rel="stylesheet">
    <link href="{% static "css/dashboard.css" %}" rel="stylesheet">
    <link href="{% static "css/table.css" %}" rel="stylesheet">
    <link href="{% static "css/forms.css" %}" rel="stylesheet">
    <link href="{% static "css/change-width.css" %}" rel="stylesheet">
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>

</head>
<body>
<div id="header">
    <div id="div_logo"><a id="jmdi_logo" class="navbar-brand" href="/dashboard/"><img src="/static/img/logo_jmdi.png"
                                                                                      alt="" id="logo_img"></a>
        <h2 id="h2_header_JMDI"><font style="color: white;">Panel lokalizacji</font></h2>
    </div>
    <table class="head_table">
        <tr>

        </tr>
    </table>
    <div id="login-div">
        <table>
            <tr>
                <th>
                    <a id="dashboard-button" class="btn btn-outline-light btn-sm" href="{% url 'dashboard:dashboard' %}" role="button"
                       style="margin-right: 15px;">Dashboard</a>
                </th>
                <th></th>
                <th>Zalogowano <br> {{ user.username }}!<br>
                    <a href="{% url 'logout' %}">wyloguj</a></span>
                </th>
            </tr>
        </table>
    </div>
</div>
<div id="content3">
    {% block content3 %}

    {% endblock %}
</div>
<div id="content-home">
    {% block content-home %}

    {% endblock %}
</div>

<div id="table">
    {% block table %}

    {% endblock %}
</div>

</body>
</html>